## Notify other scm materials

```shell
$ curl 'https://ci.example.com/go/api/admin/materials/scm/notify' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.materials %>' \
      -H 'Content-Type: application/json' \
      -X POST \
      -d {"scm_name": "material_name"}
```

> The above command returns the following response:

```http
HTTP/1.1 202 Accepted
Content-Type: <%= data.apis.versions.materials %>; charset=UTF-8
```

```json
{"message": "The material is now scheduled for an update. Please check relevant pipeline(s) for status."}
```

<%= partial 'includes/shared/material_notify_header' %>

<%= updated_to(1, '19.6.0') %>
<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`POST /go/api/admin/materials/scm/notify`

The following json payload must be specified.

<%=
  describe_object(nil) do
    scm_name  'String', 'The scm_name is the material name as defined in pipeline material page'
  end
 %>

<p class='http-request-return-description'>Returns</p>

A confirmation message.
