## Run selected jobs

```shell
$ curl 'https://ci.example.com/go/api/stages/myPipeline/myPipelineRunCounter/myStage/myStageCounter/run-selected-jobs' \
      -u 'username:password' \
      -H 'Content-Type: application/json' \
      -H 'Accept: <%= data.apis.versions.stage_operations %>'
      -X POST \
      -d '{
            jobs: ["job1", "job2"]
      }'
```

> The above command returns the following response:

```http
HTTP/1.1 202 Accepted
Content-Type: <%= data.apis.versions.stage_operations %>;charset=utf-8
```

```json
{
  "message" : "Request to rerun jobs accepted"
}
```

Runs specified jobs in a completed stage.

<%= updated_to(2,'19.12.0') %>
<%= available_since('18.11.0') %>

<p class='http-request-heading'>HTTP Request</p>

`POST /go/api/stages/:pipeline_name/:pipeline_counter/:stage_name/:stage_counter/run-selected-jobs`

Following property must be specified:

<%=
  describe_object nil do
    jobs   'Array',      "A list job names that needs to be triggered again", mandatory: true
  end
%>

<p class='http-request-return-description'>Returns</p>

A message confirmation if the request to rerun selected jobs was accepted.
