## Agent job run history

```shell
$ curl 'https://ci.example.com/go/api/agents/adb9540a-b954-4571-9d9b-2f330739d4da/job_run_history' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.agent_job_run_history %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.agent_job_run_history %>; charset=utf-8
```

```json
{
  "_links" : {
    "doc" : {
      "href" : "https://api.gocd.org/19.11.0/#agent-job-run-history"
    },
    "self" : {
      "href" : "https://ci.example.com/go/api/agents/adb9540a-b954-4571-9d9b-2f330739d4da/job_run_history"
    },
    "find" : {
      "href" : "https://ci.example.com/go/api/agents/:uuid"
    }
  },
  "uuid" : "adb9540a-b954-4571-9d9b-2f330739d4da",
  "jobs" : [ {
    "job_state_transitions" : [ {
      "state_change_time" : "2019-11-12T00:20:56Z",
      "state" : "Scheduled"
    }, {
      "state_change_time" : "2019-11-12T00:21:06Z",
      "state" : "Assigned"
    }, {
      "state_change_time" : "2019-11-12T00:21:17Z",
      "state" : "Preparing"
    }, {
      "state_change_time" : "2019-11-12T00:22:19Z",
      "state" : "Building"
    }, {
      "state_change_time" : "2019-11-12T00:37:42Z",
      "state" : "Rescheduled"
    } ],
    "job_name" : "jasmine",
    "stage_name" : "build-non-server",
    "stage_counter" : "1",
    "pipeline_name" : "build-windows-PR",
    "pipeline_counter" : 5282,
    "result" : "Unknown",
    "rerun" : false
  } ],
  "pagination" : {
    "page_size" : 50,
    "offset" : 812,
    "total" : 813
  }
}
```

Lists the jobs that have executed on an agent.

<%= updated_to(1, '19.12.0') %>
<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/agents/:uuid/job_run_history`

**With pagination**

`GET /go/api/agents/:uuid/job_run_history?offset=:offset&page_size=:page_size&sort_column=:sort_column&sort_order=:sort_order`

The following query string parameters are supported by the API.

<%=
  describe_object(nil) do
    offset       'Number',  'The number of records to skip'
    page_size    'Number',  'The number of records per page of this response. Must be between `10` and `100`.', defaults_to: '50'
    sort_column  'String',  'The sort order of records', one_of: %w(pipeline stage job result completed), defaults_to: '`completed`'
    sort_order   'String',  'The order of sorting of the column specified by `sort_column`', one_of: %w(ASC DESC), defaults_to: '`DESC`'
  end
 %>

<p class='http-request-return-description'>Returns</p>

An array of job objects along with the job transitions.
