<%
    package_settings_json = {
  package_settings: {
    configurations: [
      {
        key: "Package_name",
        metadata: {
          secure: false,
          required: true,
          part_of_identity: false,
          display_name: "Display name",
          display_order: 0
        }
      }]
  }
}
%>

<%=
describe_sub_object 'Package settings object', json: package_settings_json, html_id: 'package-instance-settings' do
  configurations    'Array', 'List of [configurations](#package-settings-configurations) required to configure a pluggable instance'
end
%>

<%
    repository_settings_json = {
  repository_settings: {
    configurations: [
      {
        key: "url",
        metadata: {
          secure: false,
          required: true,
          part_of_identity: false,
          display_name: "Display name",
          display_order: 0
        }
      }]
  }
}
%>

<%=
describe_sub_object 'Repository settings object', json: repository_settings_json, html_id: 'repository-instance-settings' do
  configurations    'Array', 'List of [configurations](#repository-settings-configurations) required to configure a pluggable instance'
end
%>

<%
    scm_settings_json = {
  scm_settings: {
    configurations: [
      {
        key: "url",
        metadata: {
          secure: false,
          required: true,
          part_of_identity: false,
        }
      }],
    views: {
      template: "<div>Plugin view template</div>"
    }
  }
}
%>

<%=
describe_sub_object 'SCM settings object', json: scm_settings_json, html_id: 'scm-instance-settings' do
  configurations    'Array', 'List of [configurations](#scm-settings-configurations) required to configure a pluggable instance'
  views             'Object', 'The [view](#plugin-info-view) contains the Angular view template'
end
%>

<%
    plugin_settings_json = {
  plugin_settings: {
    configurations: [
      {
        key: "url",
        metadata: {
          secure: false,
          required: true
        }
      }],
    views: {
      template: "<div>Plugin view template</div>"
    }
  }
}
%>

<%=
describe_sub_object 'Plugin settings object', json: plugin_settings_json, html_id: 'plugin-instance-settings' do
  configurations    'Array', 'List of [configurations](#plugin-settings-configurations) required to configure a pluggable instance'
  views             'Object', 'The [view](#plugin-info-view) contains the Angular view template'
end
%>

<%
    auth_config_settings_json = {
  auth_config_settings: {
    configurations: [
      {
        key: "url",
        metadata: {
          secure: false,
          required: true
        }
      }],
    views: {
      template: "<div>Plugin view template</div>"
    }
  }
}
%>

<%=
describe_sub_object 'Auth config settings object', json: auth_config_settings_json, html_id: 'auth-config-instance-settings' do
  configurations    'Array', 'List of [configurations](#auth-config-settings-configurations) required to configure a pluggable instance'
  views             'Object', 'The [view](#plugin-info-view) contains the Angular view template'
end
%>

<%
    role_settings_json = {
  role_settings: {
    configurations: [
      {
        key: "Organizations",
        metadata: {
          secure: false,
          required: true
        }
      }],
    views: {
      template: "<div>Plugin view template</div>"
    }
    }
}
%>

<%=
describe_sub_object 'Role settings object', json: role_settings_json, html_id: 'role-instance-settings' do
  configurations    'Array', 'List of [configurations](#role-settings-configurations) required to configure a pluggable instance'
  views             'Object', 'The [view](#plugin-info-view) contains the Angular view template'
end
%>

<%
    profile_settings_json = {
  profile_settings: {
    configurations: [
      {
        key: "Image",
        metadata: {
          secure: false,
          required: true
        }
      }]
  }
}
%>

<%=
describe_sub_object 'Profile settings object', json: profile_settings_json, html_id: 'profile-instance-settings' do
  configurations    'Array', 'List of [configurations](#profile-settings-configurations) required to configure a pluggable instance'
end
%>

<%
image = {
  'content_type' => 'image/svg+xml',
  'data' => '....'
}
%>

<%=
describe_sub_object 'The Image Object', json: image, html_id: 'the-plugin-icon-object' do
  content_type 'String', 'A valid [content type](http://www.iana.org/assignments/media-types/media-types.xhtml#image) for the image. Please make sure the content type is supported by most browsers.'
  data         'String', "A [base-64](https://en.wikipedia.org/wiki/Base64) encoded (single-line non-chunking) byte array of the byte-sequence that composes the image."
end
%>
