## Patch an environment

```shell
$ curl 'https://ci.example.com/go/api/admin/environments/new_environment' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.environments %>' \
      -H 'Content-Type: application/json' \
      -X PATCH \
      -d '{
      "pipelines": {
        "add": ["up42"],
        "remove": ["sample"]
      },
      "agents": {
        "add": ["12345678-e2f6-4c78-123456789012"],
        "remove": ["87654321-e2f6-4c78-123456789012"]
      },
      "environment_variables": {
          "add": [
            {
              "name": "GO_SERVER_URL",
              "value": "https://ci.example.com/go"
            }
          ],
          "remove": ["URL"]
      }
}'

```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.environments %>; charset=utf-8
ETag: "4167e3ec81fdac0fb29d854b36ceb981"
```

```json
{
  "_links": {
    "self": {
      "href": "https://ci.example.com/go/api/admin/environments/new_environment"
    },
    "doc": {
      "href": "https://api.gocd.io/#environment-config"
    },
    "find": {
      "href": "https://ci.example.com/go/api/admin/environments/:environment_name"
    }
  },
  "name": "new_environment",
  "pipelines": [
    {
      "_links": {
        "self": {
          "href": "https://ci.example.com/go/api/admin/pipelines/pipeline1"
        },
        "doc": {
          "href": "https://api.gocd.io/#pipeline-config"
        },
        "find": {
          "href": "https://ci.example.com/go/api/admin/pipelines/:pipeline_name"
        }
      },
      "name": "up42"
    }
  ],
  "agents": [
    {
      "_links": {
        "self": {
          "href": "https://ci.example.com/go/api/agents/adb9540a-b954-4571-9d9b-2f330739d4da"
        },
        "doc": {
          "href": "https://api.gocd.io/#agents"
        },
        "find": {
          "href": "https://ci.example.com/go/api/agents/:uuid"
        }
      },
      "uuid": "12345678-e2f6-4c78-123456789012"
    }
  ],
  "environment_variables": [
    {
      "name": "GO_SERVER_URL",
      "value": "https://ci.example.com/go",
      "secure": false
    }
  ]
}

```

Update some attributes of an environment.

<%= available_since('16.10.0') %>

<p class='http-request-heading'>HTTP Request</p>

`PATCH /go/api/admin/environments/:environment_name`


Atleast one of the following properties must be specified, not specifying the property will leave it unchanged.

<%
json = {
  pipelines: {
    add: %w(Dev Test),
    remove: ['Production']
  },
  agents: {
    add: %w(agent05 agent02),
    remove: ['agent01']
  },
  environment_variables: {
    add: [
      {
        :name => 'GO_SERVER_URL',
        :value => 'https://ci.example.com/go'
      }
    ],
    remove: ['URL']
  }
}
%>

<%=
describe_sub_object 'The environments patch operation attributes', json: json, html_id: 'the-environments-patch-operations' do
    pipelines                 'Object',  'The [pipelines update operation](#the-environments-pipeline-update-operation) to be performed on the set of pipelines.'
    agents                    'Object',  'The [agents update operation](#the-environments-agent-update-operation) to be performed on the set of agents'
    environment_variables     'Object',  'The [environment variables update operation](#the-environments-environment-variables-update-operation) to be performed on the set of environment variables'
  end
 %>

<%
json = {
  add: %w(Dev Test),
  remove: ['Production']
}
%>

<%=
describe_sub_object 'The environments pipeline-update operation attributes', json: json, html_id: 'the-environments-pipeline-update-operation' do
  add              'Array',   'The list of pipelines which needs to be added to the specified environment'
  remove           'Array',   'The list of pipelines which needs to be removed to the specified environment'
end
%>

<%
json = {
  add: %w(agent05 agent02),
  remove: ['agent01']
}
%>

<%=
describe_sub_object 'The environments agent-update operation attributes', json: json, html_id: 'the-environments-agent-update-operation' do
  add              'Array',   'The list of agents which needs to be added to the specified environment'
  remove           'Array',   'The list of agents which needs to be removed to the specified environment'
end
%>

<%
json = {
    add: [
      {
        :name => 'GO_SERVER_URL',
        :value => 'https://ci.example.com/go'
      }
    ],
    remove: ['URL']
  }
%>

<%=
describe_sub_object 'The environments environment-variable-update operation attributes', json: json, html_id: 'the-environments-environment-variables-update-operation' do
  add              'Array',   'The list of [environment variables](#pipeline-config-environment-variables) which needs to be added to the specified environment'
  remove           'Array',   'The list of environment variable names which needs to be removed to the specified environment'
end
%>

<p class='http-request-return-description'>Returns</p>

The updated [environment config object](#the-environment-config-object).
